*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);

body {
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;

    background-color: #fff;
    overflow-x: hidden;
    cursor: pointer;

    font-family: 'Amiri', serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 24px;
    box-sizing: border-box;

    background: rgba(255, 255, 255, .5);
    backdrop-filter: blur(20px);

    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

    color: #001c37;
    font-size: 1.35rem;
    font-weight: 600;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #001c37;
    font-size: 1.15rem;
    font-weight: 500;
    transition: all ease .3s;
}

.nav-links a:hover {
    color: #e9c349;
    font-weight: 700;
    padding: 5px;
}


.hamburger {
    display: none;

    width: 25px;
    height: 18px;

    background: none;
    border: none;
    cursor: pointer;

    flex-direction: column;
    justify-content: space-between;

    z-index: 1002;
}

.hamburger span {
    width: 100%;
    height: 3px;

    background: #001c37;

    border-radius: 20px;

    transition: .35s;
}

.hamburger.active span:nth-child(1) {
    transform: translateY(7.5px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
    transform: scaleX(0);
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-7.5px) rotate(-45deg);
}

.hero {
    width: 100%;
    max-width: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    text-align: center;
}

.hero-content {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    background: url("../Images/school.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text h1 {
    margin-top: 20px;
    color: #001c37;
    font-size: 1.8rem;
    margin-bottom: 0px;
}

.hero p {
    margin: 10px;
    margin-bottom: 30px;
    color: #001c37;
    font-size: 1.3rem;
    width: 70%;
    text-align: center;
}

.hero-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    background-color: #f9f9f8;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    border-top: #001c37 solid 5px;
    border-radius: 35px;
    width: 350px;
    height: 190px;
    padding: 10px;
    box-shadow: 0 15px 20px #c2c7d194;
    transition: all .5s ease;
}

.card-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card-head h2 {
    color: #001c37;
}

.card-p {
    color: #053b64;
}

.card-head svg {
    width: 20px;
    height: 20px;
}

.card:hover {
    transform: translateY(-8px);
}

.about {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.about-r,
.about-l {
    flex: 1 1 0;
}

.about-r {
    max-width: 500px;
    height: 480px;
    overflow: hidden;
    border-radius: 35px;
    box-shadow: 0 15px 20px #c2c7d194;
}

.about-r img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform .5s ease;
}

.about-r img:hover {
    transform: scale(1.1);
}

.about-l {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.identity {
    display: flex;
    align-items: center;
    gap: 15px;
}

.identity div {
    width: 45px;
    height: 2px;
    background: #e9c349;
}

.identity p {
    color: #e9c349;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
}

.about-l h2 {
    font-size: 40px;
    color: #00355f;
    font-weight: 700;
    line-height: 1.2;
    width: 100%;
}

.quote {
    width: 100%;
    border-right: 2px solid #e9c349;
    padding-right: 18px;
    color: #001c37;
    font-size: 24px;
    line-height: 1.8;
    font-weight: 500;
}

.brief {
    width: 100%;
    color: #001c37;
    font-size: 18px;
    line-height: 30px;
}

.stats {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.status-card {
    flex: 1;
    min-width: 140px;
    max-width: 170px;
    height: 105px;
    padding: 30px 20px;
    text-align: center;

    background: #f9f9f8;
    border-radius: 18px;
    border-top: 4px solid #001c37;
    box-shadow: 0 15px 20px #c2c7d194;

    transition: transform .3s ease;
}

.status-card:hover {
    transform: translateY(-8px);
}

.status-card h3 {
    font-size: 25px;
    color: #0d3b66;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
}

.status-card p {
    margin-top: 7px;
    line-height: 1.5;
    color: #0d3b66;
}

.activities {
    margin-top: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
    margin-inline: auto;
    box-sizing: border-box;
}

.slides {
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 1100px;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    padding: 20px;
    box-sizing: border-box;
}

.slides .slides_right,
.slides .slides-left {
    flex: 1 1 500px;
    max-width: 530px;
    width: 100%;
    box-sizing: border-box;
}

.slides .slides_right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 480px;
}

.slides .slides_right .slides-top {
    width: 100%;
    height: 230px;
    border-radius: 35px;
    background-image: url("../Images/a.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slides .slides_right .slides-bottom {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 230px;
}

.slides .slides_right .slides-bottom .btm-r,
.slides .slides_right .slides-bottom .btm-l {
    flex: 1;
    border-radius: 35px;
}

.slides .slides-left {
    height: 480px;
    border-radius: 35px;
    background-image: url("../Images/s-a.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pics {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 1100px;
    height: auto;
}

.pics-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 1100px;
    height: auto;
}

.pics-topr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../Images/uni.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 35px;
    width: 680px;
    height: 220px;
    position: relative;
}

.pics-topr::after {
    content: "الزي المدرسي للصفين الأول والثاني الثانوي";
    position: absolute;
    top: -33px;
    left: 50%;
    transform: translateX(-50%);

    width: 500px;
    height: 30px;

    font-size: 21px;
    font-weight: 600;
    text-align: center;
    color: #001c37;
}

.pics-topl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../Images/class1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 35px;
    width: 380px;
    height: 220px;
    position: relative;
}

.pics-topl::after {
    content: "فصول المدرسة";
    position: absolute;
    top: -33px;
    left: 50%;
    transform: translateX(-50%);

    width: 500px;
    height: 30px;

    font-size: 21px;
    font-weight: 600;
    text-align: center;
    color: #001c37;
}

.pics-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 1100px;
    height: auto;
}

.pics-bottoml {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    background-image: url("../Images/li1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 680px;
    height: 220px;
    position: relative;
}

.pics-bottoml::after {
    content: "مكتبة المدرسة قلب المعرفة النابض";
    position: absolute;
    top: -33px;
    left: 50%;
    transform: translateX(-50%);

    width: 500px;
    height: 30px;

    font-size: 21px;
    font-weight: 600;
    text-align: center;
    color: #001c37;
}

.pics-bottomr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    background-image: url("../Images/g1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 380px;
    height: 220px;
    position: relative;
}

.pics-bottomr::after {
    content: "حديقة المدرسة";
    position: absolute;
    top: -33px;
    left: 50%;
    transform: translateX(-50%);

    width: 500px;
    height: 30px;

    font-size: 21px;
    font-weight: 600;
    text-align: center;
    color: #001c37;
}

.rules {
    width: 100%;
}

.caption {
    text-align: center;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caption h2 {
    color: #0f3b63;
    font-size: 33px;
    margin-bottom: 10px;
}

.caption p {
    color: #001c37;
    line-height: 1.9;
    font-size: 18px;
    width: 600px;
    text-align: center;
}

.row-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    margin: 60px 0 35px;
}

.row-head h3 {
    font-size: 30px;
    color: #173a63;
}

.row-head div {
    width: 500px;
    height: 1px;
    background: #173a63;
}

.row1 {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.rule-card {
    width: 210px;
    height: 260px;
    background: #fff;
    border: 2px solid #dcdcdc;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 18px rgba(0, 0, 0, .08);
    transition: .3s;
}

.rule-card:hover {
    transform: translateY(-8px);
}

.heading {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.heading h4 {
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.rule-card ul {
    padding: 0 30px 25px 40px;
    margin: 0;
}

.rule-card li {
    margin: 16px 0;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
}

.orange-list {
    padding: 20px 25px;
    margin: 20px 0 0 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    row-gap: 10px;
    column-gap: 20px;

    list-style-position: outside;
}

.orange-head {
    margin-bottom: 20px;
}

.orange-list li {
    font-size: 18px;
    line-height: 1.1;
    margin: 0;
    padding: 0;
}

.orange-list .full {
    grid-column: 1 / 3;
}

.red li {
    word-spacing: 4px;
    line-height: 23px;
}



.green .heading {
    background: #38b86b;
}

.yellow .heading {
    background: #f0c338;
}

.orange .heading {
    background: #f08a2a;
}


.red .heading {
    background: #93000a;
}


.green li::marker {
    color: #38b86b;
}

.yellow li::marker {
    color: #f0c338;
}

.orange li::marker {
    color: #f08a2a;
}

.red li::marker {
    color: #93000a;
}


.row2 {
    width: min(1000px, calc(100% - 40px));
    display: grid;
    grid-template-columns: 0.00125fr 1fr 0.00125fr 1fr 0.00125fr 1fr;
    margin: auto;
    gap: 30px;
}



.step {
    background-color: #f9f9f8;
    border-radius: 35px;
    border-top: 4px solid #001c37;
    padding: 15px;
    text-align: center;
    box-shadow: 0 15px 20px #c2c7d194;
    transition: all .5s ease;
}

.step p {
    font-weight: 500;
    font-size: 18px;
    color: #0f3b63;
}

.step:hover {
    transform: translateY(-8px);
}

.num {
    width: 35px;
    height: 35px;
    background-color: #001c37;
    color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    transition: 0.8s;
    font-family: 'Lucida Sans';
    font-weight: 900;
}

.num:hover {
    transform: rotate(360deg);
}

.row3 {
    width: min(1000px, calc(100% - 40px));
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    gap: 50px;
    margin-top: 30px;
}

.special {
    background-color: #f9f9f8;
    border-radius: 35px;
    border-top: 4px solid #001c37;
    padding: 15px;
    text-align: center;
    box-shadow: 0 15px 20px #c2c7d194;
    transition: all .5s ease;
}

.special h5 {
    font-size: 21px;
    color: #001c37;
}

.special p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.7rem;
    color: #0f3b63;
}

.special:hover {
    transform: translateY(-8px);
}

.row4 {
    width: min(1000px, calc(100% - 40px));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    gap: 75px;
    margin-top: 30px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.col .badge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #fff;
    border-radius: 50px;
    height: 40px;
    width: 190px;
}

.col p {
    font-size: 21px;
}

.col .badge.redd {
    background-color: #93000a;
}

.col .badge.orange {
    background-color: #f08a2a;
}

.col .badge.yellow {
    background-color: #e9c349;
}

.col .badge.green {
    background-color: #38b86b;
}


.bac {
    width: 100%;
    padding: 30px 6%;
    background: linear-gradient(180deg, #f8fbff 0%, #eef4fa 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.bac-row {
    width: min(1000px, calc(100% - 40px));
    background: #fff;
    border-radius: 30px;
    padding: 45px;
    box-shadow: 0 20px 50px rgba(0, 28, 55, .08);
    border: 1px solid rgba(0, 28, 55, .08);
    display: flex;
    flex-direction: column;
    gap: 35px;
    position: relative;
}

.bac-row.frst::after {
    content: "الصف الأول الثانوي";
    position: absolute;
    top: -27px;
    left: 50%;
    transform: translateX(-50%);

    width: 300px;
    text-align: center;
    margin: auto;
    padding: 12px 35px;
    border-radius: 50px;
    background: #001c37;
    color: white;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: .5px;
}

.bac-row.scnd::after {
    content: "الصف الثاني الثانوي";
    position: absolute;
    top: -27px;
    left: 50%;
    transform: translateX(-50%);

    width: 300px;
    text-align: center;
    margin: auto;
    padding: 12px 35px;
    border-radius: 50px;
    background: #001c37;
    color: white;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: .5px;
}

.bac-row.third::after {
    content: "الصف الثالث الثانوي";
    position: absolute;
    top: -27px;
    left: 50%;
    transform: translateX(-50%);

    width: 300px;
    text-align: center;
    margin: auto;
    padding: 12px 35px;
    border-radius: 50px;
    background: #001c37;
    color: white;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: .5px;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.content h4 {
    width: fit-content;
    margin: auto;
    color: #e9c349;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    padding-bottom: 0px;
}

.catalog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.subject {
    width: 280px;
    min-height: 50px;
    background: white;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    border: 1px solid #e5ecf4;
    border-top: 5px solid #001c37;

    box-shadow: 0 12px 35px rgba(0, 28, 55, .08);

    transition: .35s ease;
    cursor: pointer;
}


.subject:hover {
    transform: translateY(-10px);
    border-top-color: #e9c349;
    box-shadow: 0 20px 45px rgba(0, 28, 55, .15);
}

.subject h5 {
    font-size: 18px;
    font-weight: 600;
    color: #001c37;
    text-align: center;
    line-height: 1.6;
    transition: .3s;
}

.subject:hover h5 {
    color: #e9c349;
}

.subject2 {
    width: 200px;
    min-height: 50px;
    background: white;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;

    border: 1px solid #e5ecf4;
    border-top: 5px solid #001c37;

    box-shadow: 0 12px 35px rgba(0, 28, 55, .08);

    transition: .35s ease;
    cursor: pointer;
}

.subject2.diff {
    width: 430px;
    max-width: 100%;
}

.subject2.diff .h6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 30px;
}

.subject2.diff h6 {
    background-color: #00355f;
    color: #fff;
    width: 90px;
    text-align: center;
}

.subject2:hover {
    transform: translateY(-10px);
    border-top-color: #e9c349;
    box-shadow: 0 20px 45px rgba(0, 28, 55, .15);
}

.subject2 h5 {
    font-size: 18px;
    font-weight: 600;
    color: #001c37;
    text-align: center;
    line-height: 1.6;
    transition: .3s;
}

.subject2:hover h5 {
    color: #e9c349;
}

.h6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.h6 h6 {
    background-color: #d2e4ff;
    border-radius: 10px;
    width: 80px;
    font-size: 15px;
    font-weight: 500;
    color: #0d3b66;
    text-align: center;
    line-height: 1.6;
    transition: .3s;
}

h6:hover {
    color: #fff;
    background-color: #00355f;
}

.subject.one {
    width: 600px;
}

.subject.one h5 {
    word-spacing: 5px;
}

footer {
    width: 100%;
    background: linear-gradient(135deg, #00172e, #0b2d4f);
    color: #fff;
    padding: 50px 0 0;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr;

    background: rgba(255, 255, 255, .03);
    border: 1px solid rgba(255, 255, 255, .08);
    border-radius: 25px;
    overflow: hidden;
}

.footer-about,
.footer-links,
.footer-contact {
    padding: 35px;
}

.footer-links,
.footer-contact {
    border-right: 1px solid rgba(255, 255, 255, .08);
}

.footer-about h2 {
    font-size: 26px;
    color: white;
}

.footer-about h1 {
    font-size: 34px;
    color: #e9c349;
    margin: 8px 0 15px;
}

.line {
    width: 120px;
    height: 2px;
    background: #e9c349;
    border-radius: 20px;
    margin-bottom: 18px;
}

.footer-about p {
    color: #d6dde8;
    line-height: 1.9;
    font-size: 16px;
}

.footer-links h3,
.footer-contact h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
    color: #fff;
}

.footer-links h3::after,
.footer-contact h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #e9c349;
    margin: 12px auto 0;
    border-radius: 20px;
}

.footer-links {
    direction: rtl;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-links a {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 12px;

    text-decoration: none;
    color: white;
    font-size: 18px;

    transition: .3s;
}

.footer-links a i {
    color: #e9c349;
    font-size: 16px;
}

.footer-links a:hover {
    color: #e9c349;
    transform: translateX(-5px);
}

.footer-links i {
    color: #e9c349;
}

.footer-contact p {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 18px;
    font-size: 17px;
}

.footer-contact p i {
    color: #e9c349;
    width: 20px;
}

.footer-contact h4 {
    text-align: center;
    margin: 25px 0 15px;
}

.footer-bottom {
    width: 90%;
    max-width: 1200px;

    margin: 30px auto 0;
    padding: 18px 0;

    border-top: 2px solid rgba(233, 195, 73, .35);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-bottom p {
    font-size: 15px;
    color: #e3e3e3;
}

.footer-bottom span {
    color: #ffe088;
    font-weight: 500;
}

.footer-contact a {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 12px;

    text-decoration: none;
    color: white;
    font-size: 18px;

    transition: .3s;
}

.ltr {
    direction: ltr;
}

.footer-contact a:hover {
    color: #ffe088;
}

.malak {
    direction: ltr;
    text-align: center;
}
.mail a{
    text-decoration: none;
    color: #ffe088;
}

.mail{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.table {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
    width: 100%;
    max-width: 1300px;
    padding: 35px;
    box-sizing: border-box;
    border-radius: 35px;
}

.t-row {
    display: flex;
    align-items: center;
    gap: 18px;

    min-height: 78px;
    padding: 16px 22px;

    background: linear-gradient(180deg, #eaf3ff 0%, #d8e9ff 100%);
    border: 3px solid #0b2a4a;
    border-radius: 24px;

    transition: 0.3s ease;
}

.t-row:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(11, 42, 74, 0.15);
}

.t-row span {
    flex: 1;
    color: #93000a;
    font-size: 1.1rem;
    line-height: 1.8;
    font-weight: 700;
}


.t-row p {
    color: #0b2a4a;
    font-size: 1rem;
    font-weight: 600;
}

.t-num {
    width: 40px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;

    background: #0b2a4a;
    color: #fff;

    border-radius: 15px;
    font-size: 1.15rem;

    box-shadow: 0 4px 10px rgba(11, 42, 74, 0.25);
}


@media (max-width:1200px) {

    body {
        gap: 70px;
    }

    .subject2.diff {
        width: 100%;
    }

    .subject2.diff .h6 {
        gap: 18px 24px;
    }

    .hero-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        width: 95%;
        gap: 25px;
    }

    .card {
        width: 100%;
    }

    .about {
        width: 95%;
        gap: 40px;
    }

    .pics,
    .activities,
    .slides,
    .table,
    .bac-row {
        width: 95%;
    }

    .pics-top,
    .pics-bottom {
        width: 100%;
    }

}

@media (max-width:900px) {

        .subject {
        width: 210px;
        min-height: 50px;
        background: white;
        border-radius: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        border: 1px solid #e5ecf4;
        border-top: 5px solid #001c37;

        box-shadow: 0 12px 35px rgba(0, 28, 55, .08);

        transition: .35s ease;
        cursor: pointer;
    }

    
    .hamburger {
        display: flex;
    }

    .subject2.diff h6 {
        width: calc(50% - 15px);
        max-width: 150px;
    }

    .subject2.diff .h6 {
        gap: 15px;
    }

    .nav-links {

        position: fixed;
        top: 0;
        right: -100%;

        width: 280px;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;

        background: white;

        transition: .35s;

        box-shadow: -10px 0 25px rgba(0, 0, 0, .15);
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links a {
        font-size: 1.2rem;
    }

    .hero-content {
        min-height: 90vh;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero p {
        width: 90%;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .about-r {
        width: 100%;
        max-width: 650px;
        height: 400px;
    }

    .about-l {
        align-items: center;
    }

    .stats {
        justify-content: center;
    }

    .slides {
        flex-direction: column;
    }

    .slides-left,
    .slides_right {
        max-width: 100%;
    }

    .pics-top,
    .pics-bottom {
        flex-direction: column;
        gap: 25px;
    }

    .pics-topr,
    .pics-topl,
    .pics-bottoml,
    .pics-bottomr {
        width: 100%;
        height: 250px;
    }

    .row2 {
        grid-template-columns: 1fr;
    }

    .num {
        display: none;
    }

    .row3 {
        grid-template-columns: 1fr;
    }

    .row4 {
        flex-wrap: wrap;
        gap: 30px;
    }

    .footer-container {
        grid-template-columns: 1fr;
    }

    .footer-links,
    .footer-contact {
        border-right: none;
        border-top: 1px solid rgba(255, 255, 255, .08);
    }

}

@media (max-width:600px) {

    .subject2.diff .h6 {
        gap: 12px;
    }

    .subject2.diff h6 {
        width: 100px;
    }

    .bac-row.frst::after {
        width: 200px;
    }

    .bac-row.scnd::after,
    .bac-row.third::after {
        width: 240px;
        flex-wrap: nowrap;
    }


    .pics {
        gap: 20px;
    }

    .row1 {
        margin: 40px;
    }

    nav {
        padding: 15px;
    }

    .logo {
        font-size: 1.1rem;
    }

    .hero-content {
        width: 100%;
        height: 10px;
    }

    .hero-text {
        margin: 0 20px;
    }

    .hero-text h1 {
        font-size: 1.6rem;
    }

    .hero p {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .card {
        padding: 18px;
    }

    .footer-bottom p {
        font-size: 12px;
        color: #e3e3e3;
    }

    .card-head h2 {
        font-size: 1.2rem;
    }

    .caption {
        padding: 0 30px;
    }

    .card {
        height: 130px;
    }

    .about-r {
        height: 300px;
    }

    .about-l h2 {
        font-size: 2rem;
    }

    .quote {
        font-size: 18px;
    }

    .brief {
        font-size: 16px;
    }

    .caption h2 {
        font-size: 26px;
    }

    .caption p {
        width: 100%;
        font-size: 16px;
    }

    .row-head div {
        display: none;
    }

    .row-head h3 {
        font-size: 24px;
    }

    .rule-card {
        width: 100%;
    }

    .table {
        grid-template-columns: 1fr;
        padding: 30px;
    }

    .t-row {
        padding: 15px;
    }

    .catalog {
        gap: 15px;
    }

    .subject,
    .subject2,
    .subject.one {
        width: 100%;
    }

    .bac-row {
        padding: 25px 20px;
    }

    .bac-row::after {
        font-size: 20px !important;
        padding: 10px 22px !important;
    }

    .footer-about,
    .footer-links,
    .footer-contact {
        padding: 25px;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    .pics {
        padding: 30px;
    }

    .hero-cards {
        padding: 0 30px;
    }

    .row2 {
        padding: 30px;
    }

    .row3 {
        margin-top: 0;
        padding: 30px;
    }

    .row4 {
        margin-top: 0;
        padding: 30px;
    }

    .pics-topr,
    .pics-topl,
    .pics-bottoml,
    .pics-bottomr {
        border-radius: 15px;
    }

    .pics-topr::after {
        font-size: 18px;
    }

    .pics-topr::after {
        font-size: 18px;
    }

    .pics-topr {
        margin-bottom: 20px;
        height: 130px;
    }

    .pics-topl,
    .pics-bottoml,
    .pics-bottomr {
        height: 200px;
    }

    .pics-topr::before {
        content: "";
        position: absolute;
        background-color: #0b2d4f;
        width: 40px;
        height: 3px;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
    }

    .pics-topl::after,
    .pics-bottoml::after,
    .pics-bottomr::after {
        display: none;
    }

}